BE_MODE=development
BE_HOST_HOST=0.0.0.0
BE_HOST_PORT=3000
BE_CORS_ORIGINS_0=http://localhost:3000

# PostgreSQL Configuration
BE_DATABASES_MAIN_CONNECTION_CONNECTION=postgresql
BE_DATABASES_MAIN_CONNECTION_HOST=localhost
BE_DATABASES_MAIN_CONNECTION_PORT=5432
BE_DATABASES_MAIN_CONNECTION_USER=postgres
BE_DATABASES_MAIN_CONNECTION_PASSWORD=postgres
BE_DATABASES_MAIN_CONNECTION_DATABASE=hoctap
BE_DATABASES_MAIN_DEV_AUTOMIGRATE=true
BE_DATABASES_MAIN_DEV_AUTOSEED=false
BE_DATABASES_MAIN_DEV_TIMEOUT=30
BE_DATABASES_MAIN_DEV_DEBUG=false
BE_DATABASES_MAIN_MIGRATION_MIGRATE=true
BE_DATABASES_MAIN_MIGRATION_SEED=false
BE_DATABASES_MAIN_MIGRATION_TIMEOUT=30
BE_DATABASES_MAIN_ORM_ENTITIES_0=dist/**/*.entity.js
BE_DATABASES_MAIN_ORM_ENTITIESTS_0=src/**/entities/*.entity.ts
BE_DATABASES_MAIN_ORM_MIGRATIONS_PATH=dist/migrations
BE_DATABASES_MAIN_ORM_MIGRATIONS_PATHTS=src/migrations
BE_DATABASES_MAIN_ORM_MIGRATIONS_ALLORNOTHING=true
BE_DATABASES_MAIN_ORM_MIGRATIONS_DROPTABLES=false
BE_DATABASES_MAIN_ORM_MIGRATIONS_DISABLEFOREIGNKEYS=false
BE_DATABASES_MAIN_ORM_MIGRATIONS_SAFE=true
BE_DATABASES_MAIN_ORM_MIGRATIONS_SNAPSHOT=true
BE_DATABASES_MAIN_ORM_MIGRATIONS_TRANSACTIONAL=true
